.searchbar{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-bottom: 41rem;
}

.mapdiv{
    display: flex;
    justify-content: center;
    margin-bottom: 20rem;
}

.map{
    width: 30%;
}

.search{
    height: 25rem;
    width: 50%;
    color: black;
    display: flex;
    font-size: 15rem;
}

.location{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 50%;
    border: solid white 2rem;
    margin: 5rem;
}

.card-name{
    margin: 10rem;
    display: flex;
    align-items: center;
}

.card-name p{
    font-size: 20rem;
    margin: 0;
    color: white;
}

.info{
    width: 50%;
    float: left;
}

.infofav{
    width: 50%;
}

.fav{
    font-size: 15rem;
    background-color: transparent;
    color: white;
    border: 1rem solid white;
    border-radius: 10%;
    float: right;
    margin: 1rem;
}

.fav:hover{
    font-size: 15.2rem;
    background-color: white;
    color: black;
}

.nofav{
    font-size: 15rem;
    background-color: transparent;
    color: white;
    border: 1rem solid white;
    border-radius: 10%;
    float: right;
    margin: 1rem;
}

.nofav:hover{
    font-size: 15.2rem;
    background-color: white;
    color: black;
}

.hide{
    display: none;
}

@media only screen and (max-width: 600px) {
	.map{
        width: 50%;
    }
    .search{
        height: 35rem;
        width: 50%;
    }
  }