body{
    background-image: url('https://img.rawpixel.com/private/static/images/website/2022-05/pf-lukestackpoole7-black-beach-job598.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=1c9c019662cf02441d7767effd053b14');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .5;
    z-index: -1;
    background-size: cover;
}

.title{
    font-size: 30rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    margin: 10rem;
}

.location{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card{
    width: 50%;
    border: solid white 2rem;
    margin: 5rem;
}

.card-name{
    margin: 10rem;
    display: flex;
    align-items: center;
}

.card-name p{
    font-size: 20rem;
    margin: 0;
    color: white;
}

.info{
    width: 50%;
    float: left;
}

.infofav{
    width: 50%;
}

.see{
    font-size: 15rem;
    background-color: transparent;
    color: white;
    border: 1rem solid white;
    border-radius: 10%;
    float: right;
    margin: 1rem;
}

.see:hover{
    font-size: 15.2rem;
    background-color: white;
    color: black;
}

.save{
    font-size: 15rem;
    background-color: transparent;
    color: white;
    border: 1rem solid white;
    border-radius: 10%;
    margin: 1rem;
}

.save:hover{
    font-size: 15.2rem;
    background-color: white;
    color: black;
}
